argh==0.26.2
backcall==0.1.0
coverage==4.3.4
decorator==4.4.0
Django==1.11
importlib-metadata==0.23
ipdb==0.12.2
ipython==7.8.0
ipython-genutils==0.2.0
jedi==0.15.1
mock==2.0.0
more-itertools==7.2.0
nose2==0.6.5
parso==0.5.1
pathtools==0.1.2
pbr==5.4.3
pexpect==4.7.0
pickleshare==0.7.5
pluggy==0.13.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.8.0
Pygments==2.4.2
pytz==2019.2
PyYAML==5.1.2
six==1.12.0
tornado==6.0.3
tox==2.7.0
traitlets==4.3.2
virtualenv==16.7.5
watchdog==0.8.3
wcwidth==0.1.7
websocket-client==0.40.0
zipp==0.6.0
